.vm--overlay {
	background-color: #1A1A1A;
}
.vm--modal {
	background-color: #2B343B;
	border-radius: 10px;
	box-shadow: none;
	.modal-wrapper {
		position: relative;
		.btn-modal-close {
			display: block;
			@include position(absolute, 0, 0, null, null);
			width: 36px;
			height: 36px;
			outline: none;
			border-radius: 0px 10px;
			color: #ffffff;
			cursor: pointer;
			z-index: 1000;
			border: 0;
			background: rgba(#000000, 0.3);
			box-shadow: -15.743px 8.727px 95px 0 #000000b5;
		}
	
		.btn-modal-close {
			&:after {
				content: "";
				display: block;
				@include position(absolute, 12px, null, null, 12px);
				position: absolute;
				width: 12px;
				height: 12px;
				background: url("/assets/cors_svg/close.svg") no-repeat center;
			}
		}
	}
}

//vue-image-crop-upload
.vue-image-crop-upload {
	background-color: rgba(0,0,0,0.75);
	.vicp-wrap {
		background-color: #f4f7f6;
		border-radius: 10px;
		.vicp-close {
			@include position(absolute, 0, 0, null, null);
			@include basic-flex(row, center, center);
			background: rgba(#000000, 0.3);
			box-shadow: -15.743px 8.727px 95px 0 #000000b5;
			width: 36px;
			height: 36px;
			outline: none;
			border-radius: 0px 10px;
		}
		.vicp-operate {
			a {
				@include site-font(default, 18px, 400);
				line-height: 35px;
				color: #ffffff;
				background-color: #49c5b6;
				border-radius: 5px;
				border-radius: 5px;
				&:hover {
					background-color: rgba(#49c5b6, 0.8);
				}
			}
		}
	}
}

